.brandName:hover {
color:WHITE;
}
.bgpic{
    background-image: url("/style/images/bg/9.jpg"); 
   
}
.loading-bar {
	padding: 10px 20px;
	display: block;
	text-align: center;
	box-shadow: inset 0px -45px 30px -40px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	margin: 20px 0;
	font-size: 2em;
	font-family: "museo-sans", sans-serif;
	border: 1px solid #ddd;
	margin-right: 1px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	display:none;
}
.reportBox{
    border: 5px;
    border-radius: 1px;
    -webkit-box-shadow: -1px 6px 11px 0px rgba(255, 244, 247, 0.51);
-moz-box-shadow:    -1px 6px 11px 0px rgba(255, 244, 247, 0.51);
box-shadow:         -1px 6px 11px 0px rgba(255, 244, 247, 0.51);
    text-align:justify;
    margin-left: 10px;
    
}